@import url("https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Mono&display=swap");

.contactMe {
  display: flex;
  height: 60vh;
  justify-content: center;
  margin: 20vh auto;
  width: 65vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactImg {
  /* background-color: thistle; */
  width: 40%;
  display: flex;
  align-items: center;
}

.contactImg img {
  height: 42vh;
}

.contactForm {
  /* background-color: aquamarine; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  font-family: "Cairo", sans-serif;
}

.contactHead {
  margin: 0 0 20px 0;
  font-family: "IBM Plex Mono", monospace;
  /* font-size: 35px; */
  font-size: 2.18em;
  font-weight: bold;
}

.form-control {
  border-radius: 15px;
  border-style: none;
  background-color: rgb(221, 221, 221);
}

#userName,
#userEmail {
  font-size: 0.85em;
  padding: 8px 17px;
  margin: 5px 0;
  width: 70%;
}

.form-text {
  font-size: 0.7em;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

#userMsg {
  border-radius: 15px;
  border-style: none;
  background-color: rgb(221, 221, 221);
  width: 70%;
  margin: 5px 0;
  padding: 8px 17px;
  font-size: 0.87em;
  font-family: "Cairo", sans-serif;
}
.form-check {
  margin-top: -5px;
}
#isUser {
  margin-right: 5px;
}

.form-check-label {
  font-size: 0.87em;
}
.btn-send {
  padding: 8px 17px;
  margin: 15px 0 5px;
  width: 77%;
  border-radius: 50px;
  border-style: solid;
  background-color: teal;
  color: white;
  border-color: teal;
  font-size: 0.85em;
  cursor: pointer;
}
.btn-send:hover {
  color: teal;
  background-color: white;
}

@media screen and (max-width: 1100px) {
  .contactMe {
    height: 70vh;
    width: 80vw;
    margin: 15vh auto;
  }
  .contactImg img {
    height: auto;
    width: 35vw;
  }
}

@media screen and (max-width: 768px) {
  .contactMe {
    width: 85vw;
  }
  .contactHead {
    font-size: 2em;
  }
  .contactImg img {
    height: auto;
    width: 40vw;
  }
}

@media screen and (max-width: 660px) {
  .contactHead {
    font-size: 1.8em;
  }
  .form-text {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 600px) {
  .contactMe {
    margin-bottom: 140px;
  }

  .contactImg img {
    display: none;
  }
  .contactForm {
    width: 100%;
    margin-right: 84px;
  }
  .contactImg {
    width: 0;
  }
  .contactHead {
    font-size: 2em;
    margin-right: -15px;
  }
  .form-text {
    font-size: 0.7em;
  }

  #userEmail,
  #userName,
  #userMsg {
    width: 100%;
  }
  .btn-send {
    width: 90px;
  }
}
@media screen and (max-width: 430px) {
  .contactHead {
    font-size: 1.9rem;
  }
  .form-text {
    font-size: 0.6em;
  }
  .contactForm {
    margin-left: 35px;
    margin-right: 69px;
  }
}
@media screen and (max-width: 380px) {
  .contactMe {
    width: 90vw;
  }
  .contactForm {
    margin-left: 20px;
    margin-right: 54px;
  }
  .contactHead {
    font-size: 1.6em;
  }
  .form-text {
    line-height: 1;
    margin-top: 2px;
    font-size: 0.5em;
  }
  .form-check {
    line-height: 1;
  }
  .form-check-label {
    font-size: 0.7em;
  }
}
